--- Page 1 ---
计算机学院学位评定分委员会
计算机科学与技术及软件工程学科
博士学位申请者创新成果要求
申请博士学位创新成果要求
·申请计算机科学与技术及软件工程学科学术型博士学位须符合以下
条件之一：
1.在Nature/Science及子刊发表相关学科领域论文1篇，或相关
学科领域重要期刊ESI高被引论文1篇。
2.申请人在CCF推荐期刊、JCRQ1区收录源刊等国内外公认重要
学术期刊发表论文至少1篇；此外，还需达到下列要求之一：
（1）作为完成人获得国家级科研奖励或作为学生第一完成人获
得省部级一等奖科研奖励。
（2）撰写并正式出版学术专著（至少独立完成完整章撰写）。
（3）作为学生第一发明者获得国际或国家发明专利，专利署名
为北京航空航天大学，该专利同时进行了成果转化，且取得经济效益。
（4）CCF推荐A类期刊或会议上发表不少于1篇（需外文撰写）。
（5）申请者在相关学科领域的国内外公认重要学术期刊或学术
会议上发表论文不少于2篇（其中至少有1篇用外文撰写）。
相关说明
1.本规定中的论文及其他学术成果均应是与申请者学位论文密切
相关的成果，核心创新成果需要在学位论文中的章节体现，成果申请
或投稿前应经指导教师审阅同意。
2.申请者必须是论文的第一作者，或申请者是第二作者时其指导教
师（含副指导教师）是第一作者。第一作者及申请者的第一署名单位

--- Page 2 ---
为北京航空航天大学。
3.本规定中的“发表”是指学术期刊论文已刊出或正式录用，学术
会议论文已公开发表并收入论文集，已出版的学术期刊和论文集要求
有符合规定的出版号。
4.所有论文成果中，允许仅有1篇论文处于录用状态，且级别最高
的一篇需为已刊出。
5.本规定中的会议论文要求为该会主会中的论文，不能是从会论
文。
6.以下几种情况均认定为“已刊出”：
（1）期刊论文已纸版见刊；
（2）在SCI(E)收录源刊物上发表的论文已“网络在线”或“认
定刊出”【“网络在线”指论文已在网络出版，并且分配了论文的数字
标识码（DOI）和明确的网络在线时间；“认定刊出”指的是论文已分
配DOI但还未具体确定期卷号】；
（3）在“国内外学术会议”上发表的论文已获得相应的收录源
（SCIE、SSCI、EI、CPCI-S）分配的收录号；
7.以下几种情况均认定为“已录用”：
（1）论文已取得学术期刊的“录用通知书”；
（2）在EI收录源刊物上发表的论文已“网络在线”；
（3）在“国内外学术会议”上发表的论文已收入会议论文集，
论文集有正式出版号，会议已召开，但论文（暂）未被收录源收录，
等同于一篇论文“已录用”；
8.关于共同一作的说明。研究生用于申请学位的“共同第一作者”的
论文须与学位论文密切相关，且为高被引/JCRQ1或中科院1区/CCF

--- Page 3 ---
目录中的文章，折算方法如下：
（1）篇数和影响因子均按照权重计算，计算方法为1/N（N=共
同第一作者人数，导师除外）；
（2）按第1条折算后用于申请学位的论文合计不超过1篇，用
于申请学位的学术成果不可全部为“共同第一作者”的论文。
（3）如有特殊情况，经导师认定学位申请者对“共同第一作者”
论文的贡献和工作量与“唯一第一作者”的大体相当，其他所有共同
第一作者声明目前没有使用并且以后也不会使用“共同第一作者”论
文用于申请学位及其他创新成果相关奖项，并经学位评定分委员会审
核同意，可将“共同第一作者”论文作为1篇用于申请学位。上述材
料作为学位审批材料的附件存入档案。
9.相关分区或推荐目录以论文发表当年为准。
10.论文成果需提供以下证明材料：
（1）已检索论文：图书馆开具的《文献收录、影响因子及JCR
学科分区检索证明》，须加盖红章。
（2）已刊出未检索论文：图书馆开具的来源刊证明、论文所在
刊物或会议论文集的封面、目录以及论文首页；仅分配了DOI号暂无
期卷号的SCIE论文，须提供录用证明和版权转让通知单。
（3）已录用论文：图书馆开具的来源刊证明（SCIE论文）、录
用通知以及论文样稿首页。
（4）请在该篇论文的附件证明材料中，标注对应文章的“文章
名、期刊（会议）名称、本人姓名、第一作者单位、本人所在单位”
等信息。
（5）共同一作的文章，还需提供相关说明、论文全文，附在检

--- Page 4 ---
索证明（来源刊证明）后。
11.专利状态需为“已授权”。相关学科领域已授权的发明专利（排
名前三且位于学生发明者的第一名有效）1项可折算为申请条件2.
（5）中一篇。

--- Page 5 ---
计算机学院学位评定分委员会
计算机科学与技术及软件工程学科
硕士学位申请者创新成果要求
申请硕士学位创新成果要求
·申请计算机科学与技术及软件工程学科学术型硕士学位申请者须在
相关学科领域的国内外公认重要学术期刊或学术会议上发表论文至
少1篇。
相关说明
1.本规定中的论文及其他学术成果均应是与申请者学位论文密切
相关的成果，核心创新成果需要在学位论文中的章节体现，成果申请
或投稿前应经指导教师审阅同意。
2.申请者必须是论文的第一作者，或申请者是第二作者时其指导教
师（含副指导教师）是第一作者。第一作者及申请者的第一署名单位
为北京航空航天大学。
3.本规定中的“发表”是指学术期刊论文已刊出或正式录用，学术
会议论文已公开发表并收入论文集，已出版的学术期刊和论文集要求
有符合规定的出版号。
4.本规定中的会议论文要求为该会主会中的论文，不能是从会论
文。
5.以下几种情况均认定为“已刊出”：
（1）期刊论文已纸版见刊；
（2）在SCI(E)收录源刊物上发表的论文已“网络在线”或“认
定刊出”【“网络在线”指论文已在网络出版，并且分配了论文的数字
标识码（DOI）和明确的网络在线时间；“认定刊出”指的是论文已分

--- Page 6 ---
配DOI但还未具体确定期卷号】；
（3）在“国内外学术会议”上发表的论文已获得相应的收录源
（SCIE、SSCI、EI、CPCI-S）分配的收录号；
6.以下几种情况均认定为“已录用”：
（1）论文已取得学术期刊的“录用通知书”；
（2）在EI收录源刊物上发表的论文已“网络在线”；
（3）在“国内外学术会议”上发表的论文已收入会议论文集，
论文集有正式出版号，会议已召开，但论文（暂）未被收录源收录，
等同于一篇论文“已录用”；
7.研究生用于申请学位的“共同第一作者”的论文须与学位论文密
切相关，且为高被引/JCRQ1或中科院1区/CCF目录中的文章，折算
方法如下：
（1）篇数和影响因子均按照权重计算，计算方法为1/N（N=共
同第一作者人数，导师除外）；
（2）按第1条折算后用于申请学位的论文合计不超过1篇。
（3）如有特殊情况，经导师认定学位申请者对“共同第一作者”
论文的贡献和工作量与“唯一第一作者”的大体相当，其他所有共同
第一作者声明目前没有使用并且以后也不会使用“共同第一作者”论
文用于申请学位及其他创新成果相关奖项，并经学位评定分委员会审
核同意，可将“共同第一作者”论文作为1篇用于申请学位。上述材
料作为学位审批材料的附件存入档案。
8.相关分区或推荐目录以论文发表当年为准。
9.论文成果需提供以下证明材料：
（1）已检索论文：图书馆开具的《文献收录、影响因子及JCR

--- Page 7 ---
学科分区检索证明》，须加盖红章。
（2）已刊出未检索论文：图书馆开具的来源刊证明、论文所在
刊物或会议论文集的封面、目录以及论文首页；仅分配了DOI号暂无
期卷号的SCIE论文，须提供录用证明和版权转让通知单。
（3）已录用论文：图书馆开具的来源刊证明（SCIE论文）、录
用通知以及论文样稿首页。
（4）请在该篇论文的附件证明材料中，标注对应文章的“文章
名、期刊（会议）名称、本人姓名、第一作者单位、本人所在单位”
等信息。
（5）共同一作的文章，还需提供相关说明、论文全文，附在检
索证明（来源刊证明）后。
10.专利状态需为“已授权”。相关学科领域已授权的发明专利（排
名前三且位于学生发明者的第一名有效）1项可折算为1篇论文已发
表。
