--- Page 1 ---
计算机学院学位评定分委员会
电子信息专业博士（硕士）学位申请者创新成果要求
一、申请专业学位创新成果要求
（一）申请博士专业学位，攻读学位期间取得创新成果应符合下列条
件之一：
1项A类成果；
2项B类成果；
3项（1项B类+2项C类）成果。
同时还需满足以下要求：
以实践成果形式申请学位的，须至少取得1项B类及以上实践类
成果；
以学位论文形式申请学位的，须至少取得1项B类及以上论文类
成果与1项实践类成果。
（二）申请硕士专业学位，攻读学位期间须取得至少1项符合分委员
会规定的创新成果。
二、创新成果分类
（一）实践类成果
A类：重大技术创新成果，如承担国家重大科技专顶、重点研发计
划或重要型号任务等取得的重大创新成果、国家级科技奖励，经分委
员会组织的校企专家组鉴定符合要求；
B类：高水平技术创新成果，如已转化的授权专利、国际/国家标
准、省部级/一级学会一等奖、系统研发；
C类：其他成果，如行业标准、授权专利、省部级/一级学会成果
奖、省部级单位成果鉴定。

--- Page 2 ---
（二）论文类成果：
A类：顶刊学术论文，如Nature、Science及子刊相关学科领域论
文，ESI高被引论文；
B类：高水平学术论文，如SCIQ2及以上、SSCIQ2及以上、中科
院2区及以上、中国科协T2级别及以上、CCFA/B类期刊/会议、A&HCI；
C类：其他相关学科领域的国内外公认重要学术期刊或学术会议。
补充说明
（一）对成果的具体要求
申请专业学位的创新成果主要包括以下8种形式：
1.发明专利
（1）具体形式：已授权的国家发明专利或国防专利或国际专利，
学位申请人排名第一或校企导师排名第一学位申请人排名第二。
学位申请人排名第一的，第一单位应为“北京航空航天大学”；学位
申请人排名第二，其导师（含校内导师、校外合作导师）排名第一的，
可由联合培养企业（与学校已签订联合培养协议）为第一单位，“北京
航空航天大学”为第二单位。
（2）支撑材料：专利授权证书及转化证明。对于已转化的专利，
须提供合同转化数与到款凭证，一份合同书及到款凭证仅可用于一项
专利成果。
2.科技成果奖励
（1）具体形式：获得国家级科技奖励，应有个人获奖证书；获得
省部级/一级学会科技奖励一等奖，要求排名前五且为学生第一完成
人。获得省部级/一级学会科技奖励二等奖或三等奖，要求排名前五且
为学生第一完成人。北京航空航天大学需为完成单位。
（2）支撑材料：获奖证书。

--- Page 3 ---
3.技术标准
（1）具体形式：制定本专业领域认可的国际或国家标准(排名前
五)/行业标准(排名前五)，且标准已发布或已接受发布(以署名为准)。
（2）支撑材料：标准（包括标准、规范、指南等正式发布的标准
类文件）首页和目录页，申请人的贡献简述，同行对相关内容的评价
情况及标准起草负责人对其成果书写并签名的认定书。
4.学术论文
（1）具体形式：论文在学术期刊或会议上正式公开发表，学位申
请人为第一作者的，第一单位应为“北京航空航天大学”；学位申请人为
第二作者，其导师（含校内导师、校外合作导师）为第一作者的，可
由联合培养企业（与学校已签订联合培养协议）为第一单位，“北京航
空航天大学”为第二单位。
发表在中科院《国际期刊预警名单》（以近三年目录为准）期刊上
的论文不可用于申请学位。
会议论文要求为主会中的论文，不能是从会论文。
共同一作论文的认定按《对研究生发表学术论文中“共同第一作者”
的说明》要求执行。
期刊分区以论文正式投稿、录用或发表当年为准。
（2）支撑材料：参照《关于北航申请博士学位发表论文的相关说
明》执行。
5.成果鉴定
（1）具体形式：以前三完成人研制的新产品、新仪器、新设备、
新装置、新材料，或者开发的软件等得到推广应用，有应用单位证明
或研制单位经济效益证明。
（2）支撑材料：由学校与联培企业联合组建的成果鉴定专家委员

--- Page 4 ---
会或更高级别组织、单位、机构出具，须明确成果名称、评鉴形式、
成果简要说明及必要支撑材料、评鉴意见、评鉴专家名单、评鉴工作
组织单位意见等。
6.系统研发
（1）具体形式：在计算机相关软硬件系统（如芯片与系统、基础
软件、工业软件、开源软件等）的研发中做出重要贡献，解决重大工
程难题。
（2）支撑材料：相应系统的研发报告，申请人成果简述，同行对
相关内容的评价情况，查新报告及项目负责人对其成果书写并签名的
认定书。
7.著作
（1）已出版的科技类、工程类著作，包括教材、专著、编著、译
著等，申请人为署名作者，且至少完成独立章节撰写。
（2）支撑材料：著作封面、目录页、有学位申请人署名页、申请
人成果简述及专著第一作者书写并签字的认定书。
8.软件著作权
（1）具体形式：国家版权局发布的计算机软件著作权，要求学位
申请人排名第一。
（2）支撑材料：国家版权局发布的计算机软件著作权登记证书，
著作权人单位开具的计算机软件著作权登记证明。
上述成果形式1-6可直接用于申请博士专业学位；成果形式7-8需
经分委员会认定具有重要工程应用价值后，方可作为申请博士专业学
位的C类成果。
上述成果均可用于申请硕士专业学位。
创新成果须为研究生在攻读所申请学位期间完成，应为相关学科领

--- Page 5 ---
域成果且与学位论文密切相关，核心创新成果需要在学位论文中的章
节体现，成果申请或投稿前应经指导教师审阅同意。
（二）创新成果评价程序
研究生应在提交学位申请前，向学院提交创新成果清单及支撑材
料，由分委员会给出审核意见。
如存在特殊情况需组织成果认定，由研究生提交申请材料，分委员
会组织审查并作出认定结论。
（三）适用范围
本要求适用于自2025级及之后入学的研究生，2024级研究生原则
上参照执行。本规定的解释权归北航计算机学院学位评定分委员会。
